<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Carangas.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>98CCBDB72542470A00B3E7C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98CCBDFE2542647200B3E7C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98CCBE1225426A9800B3E7C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A19C4BDD1F92C57D00A25342</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
